<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body bgcolor="#ffe4c4">
<div th:replace="common/header :: navbar"/>

<div class="container">
    <div class="row" style="margin-bottom: -100px;">
        <div class="col-xs-8">
            <h2 class="section-headline">
                <h2 class="section-headline">
						<span
                                th:text="${user}? ${#strings.toUpperCase(user.username)} : 'All Books'"></span>
                </h2>
            </h2>
        </div>
        <div class="col-xs-4">
            <img class="img-responsive" src="/image/logo.png"/>
        </div>
    </div>
    <hr
            style="position: absolute; width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -45px;"/>


    <div class="row" style="margin-top: 60px;">
        <div class="col-xs-3">
            <h3><label for="category">Category</label></h3>
            <div class="list-group" id="category">
                <a class="list-group-item" th:classappend="${activeAll}? 'active'"
                   th:href="@{/bookshelf(category='all')}">All</a>
                <a class="list-group-item" th:classappend="${activeManagement}? 'active'"
                   th:href="@{/searchByCategory(category='Management')}">Management</a>
                <a class="list-group-item" th:classappend="${activeFiction}? 'active'"
                   th:href="@{/searchByCategory(category='Fiction')}">Fiction</a>
                <a class="list-group-item" th:classappend="${activeEngineering}? 'active'"
                   th:href="@{/searchByCategory(category='Engineering')}">Engineering</a>
                <a class="list-group-item" th:classappend="${activeProgramming}? 'active'"
                   th:href="@{/searchByCategory(category='Programming')}">Programming</a>
                <a class="list-group-item" th:classappend="${activeArtsLiterature}? 'active'"
                   th:href="@{/searchByCategory(category='Arts &amp; Literature')}">Arts &amp; Literature</a>
            </div>
        </div>

        <div class="table-responsive col-xs-9">
            <div th:if="${emptyList}">
                <h5 style="font-style: italic;">Oops, no result is found. Try
                    something else or try again later.</h5>
            </div>

            <table border="0" class="table table-hover" id="bookList">
                <thead>
                <tr>

                </tr>
                </thead>
                <tbody>
                <tr class="table-row-cell" data-th-each="book : ${bookList}">


                    <div class="row" style="margin-bottom: 50px;">
                                <div class="col-xs-3">
                                    <a th:href="@{/bookDetail?id=}+${book.id}">
                                        <img class="img-responsive"
                                             th:src="#{adminPath}+@{/image/book/}+${book.id}+'.png'"/></a>
                                </div>
                        <div class="col-xs-9">
                                    <a th:href="@{/bookDetail?id=}+${book.id}"><h4
                                            th:text="${book.title}"></h4></a> <span
                                        th:text="${book.publicationDate}"></span>
                                    <p th:text="${book.author}"></p>
                                    <a th:href="@{/bookDetail?id=}+${book.id}"><span
                                            th:text="${#strings.capitalize(book.format)}"></span></a> <span
                                th:text="${book.numberOfPages}"><span> pages</span></span><br/>

                                    <a th:href="@{/bookDetail?id=}+${book.id}"><span
                                            style="font-size: x-large; color: #db3208;">$<span
                                            th:text="${#numbers.formatDecimal(book.ourPrice, 0 , 'COMMA', 2, 'POINT')}"></span></span></a>

                                    <span style="text-decoration: line-through;">$<span
                                            th:text="${#numbers.formatDecimal(book.listPrice, 0 , 'COMMA', 2, 'POINT')}"></span></span>

                                    <p th:utext="${#strings.abbreviate(book.description, 1000)}"></p>
                                </div>
                            </div>


                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- end of container -->
<div th:replace="common/header :: footer"></div>

<div th:replace="common/header :: body-bottom-scripts"></div>

<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.bootstrap.min.js}"></script>

<script th:inline="javascript">
    $(document).ready(function () {
        $('#bookList').DataTable({
            "lengthMenu": [ [5, 10, 15, 20, -1], [5, 10, 15, 20, "All"] ],
            "ordering": false,
            stateSave: true
        });
        $("#bookList").on('page.dt', function () {
            $('html, body').animate({
                scrollTop: $('#bookList').offset().top
            }, 200);
        });
    });
</script>
</body>
</html>
